body {
   height: 100vh;
   display: flex;
   margin: 0;
   background: url(assets/bg.png) center center/cover no-repeat;
   align-items: center;
   justify-content: center;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   backdrop-filter: blur(40px);
}

.group {
   text-align: center;
   white-space: nowrap;
   overflow: hidden;
}

.item {
   width: 12vw;
   height: 70vh;
   background-position: center;
   background-repeat: no-repeat;
   /* object-fit: cover; */
   background-size: cover 75vh;
   margin: 0.7vw;
   border: 2px solid white;
   border-radius: 2.5vw;
   display: inline-block;
   cursor: pointer;
   box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
}
